*{
  margin: 0;
  padding: 0;
}
body{
  background: #f3f3f3;
  font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
ul{
  margin-left: 50px;
}
h2{
  line-height: 85px;
  text-align: center;
  color: #fff;
  height: 85px;
  background: #f16b99;
}
h1{
  text-align: center;
  color: #008080;
  font-size: 25px;
}
h3{
  color: #f16b99；
}
.container{
  width: 760px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 100px;
  font-family: sans-serif;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
.container p{
  line-height: 1.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container pre{
  padding-top: 30px;
  padding-bottom: 30px;
  background: #fef7f9;
  padding-left: 20px;
  border-radius: 3px;

}
.container code{
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fef7f9;
  width: 960px;
}
blockquote{
  padding:30px 0 30px 20px;
  background: #fbfbfb;
  border: 1px solid #b7b7b7;
  border-radius: 3px;
}
.footer{
  text-align: center;
  height: 150px;
  background: #000;
  color: #fff;
  line-height: 150px;

}
.footer a{
  color: #f16b99;
  font-size: 0.8em;
}
