*{
  margin: 0;
  padding: 0;

}
body{
  background: #f3f3f3;
  font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a{
  color: #1BBFB1;
  text-decoration: none;
  border-bottom:1px dotted #1BBFB1;
}
ul{
  margin-left: 50px;
  line-height: 2.2;
}
header{
  width: 100%;
  background: #f16b99;
}
h2{
  line-height: 85px;
  text-align: center;
  color: #fff;
  height: 85px;
  background: #f16b99;
}
h1{
  text-align: center;
  color: #008080;
  font-size: 25px;
}
h3{
  color: #f16b99;
}
code.highlighter-rouge{
  padding: 3px;
  border-radius: 3px;
  background: #e2e2e2;
}
.container{
  width: 80%;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 100px;
  font-family: sans-serif;
  background: #fff;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
.container p{
  overflow: auto;
  line-height: 2.2;
  margin-top: 15px;
  margin-bottom: 15px;
}
.container pre{
  overflow: auto;
  padding: 1em;
  background: #fbfbfb;
  border-radius: 7px;
  margin-bottom: 30px;
  border: 1px solid #eaeaea;
  line-height: 2.2;

}
blockquote{
  overflow: auto;
  padding: 1em;
  background: #fde7ee;
  border-radius: 7px;
  margin-bottom: 30px;
  line-height: 2.2;
}
footer{
  width: 100%;
  background: #000;
}
.footer{
  text-align: center;
  height: 150px;
  background: #000;
  color: #fff;
  line-height: 150px;

}
.footer a{
  color: #f16b99;
  font-size: 0.8em;
}

span.kd,span.kr,span.k{
  color: #c678dd;
}
span.o,span.nx,span.p{
  color: #56b6c2
}
span.s1{
  color: #98c379;
}
span.nb{
  color: #e5c07b;
}
span.nt{
  color: #e06c75;
}
span.s2{
  color: #98c379;
}
span.na{
  color: #d19a66;
}
span.s{
  color: #98c379;
}
span.c1{
  color: #c678dd;
}
